body {
    height: 100%;
    width: 100%;
    background-image: url(bg-intro-desktop.png);
    background-repeat:none;
    background-color: pink;
   /* background-image: url(favicon.png);
    background-repeat:yes;*/

  }
  main{
   /* background-color:white;
    background-image: url(bg-intro-desktop.png);
    background-repeat:none;
    background-color: pink;*/
    width: 60%;
    height:60px;
    margin:auto;

    display:flex;
  }
  @media (min-width:375px) and (max-width:1440px) {

  }

  #writUpDiv{
    width: 50%;
    height: 100%;
    margin-left: 15px;
    margin-top: 150px;

  }
  #formDiv{
    margin-top: 150px;
  }

  #label{
    background-color: hsl(248, 32%, 49%);
    margin-right: 0px;
    height: 3px;
    font-size: 16px;
    width:150px;
  }
  .input{
  width:100%;
  }

  form {

  }